* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    min-height: 100vh;
    font-size: 100%;
}
body {
    background-color: rgb(97, 97, 97);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}